site_name: InstaNovo
site_description: Documentation for InstaNovo
site_author: InstaDeep Developers
site_url: https://instadeepai.github.io/InstaNovo/
site_dir: docs_public
repo_name: instadeepai/InstaNovo
repo_url: https://github.com/instadeepai/InstaNovo
strict: false

theme:
  name: material
  language: en
  palette:
    - scheme: default
      primary: white
      accent: purple
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: lime
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  logo: assets/instadeep-logo.png
  favicon: assets/instadeep-logo.png
  icon:
    repo: fontawesome/brands/github
  font:
    text: Avenir Next
  features:
    - navigation.tracking # the URL is automatically updated with the active anchor
    - navigation.sections # top-level sections are rendered as groups in the sidebar
    - navigation.tabs # horizontal tabs at the top of the page
    - navigation.tabs.sticky # navigation tabs will lock below the header and always remain visible when scrolling
    - navigation.indexes # documents can be directly attached to sections
    - search.highlight # highlight search result
    - search.share # share button
    - search.suggest # smart suggestion
    - toc.integrate
    - toc.follow
    - content.code.annotate
    - navigation.tabs
    - navigation.top

markdown_extensions:
  - tables
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

plugins:
  - search
  - autorefs
  # - git-revision-date
  - include-markdown
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [instanovo]
          options:
            docstring_style: google
            merge_init_into_class: yes
            show_submodules: no
            inherited_members: false
            show_source: false
            members_order: source
            show_if_no_docstring: true
            show_signature: true
            show_signature_annotations: true
            show_root_full_path: false
            show_root_heading: true
            docstring_section_style: spacy

nav:
  - Home: index.md
  - Coverage Report: coverage/index.html
  - Test Report: allure/index.html
  - License: LICENSE.md
