# All of these dependencies are pinned to specific versions to achieve reproducible builds (CI/DEV)
coverage==6.0.2
livereload==2.6.3
mkdocs==1.2.3
mkdocs-git-revision-date-plugin==0.3.1
mkdocs-material==7.3.4
mkdocstrings==0.16.2
promise==2.3
pymdown-extensions==9.0
pytest==6.2.5
pytest-cov==3.0.0
pytest-mock==3.6.1
pytest-parallel==0.1.1
pytest-xdist==2.4.0
pytype==2021.10.18
testfixtures==6.18.3
