aiobotocore==2.4.1
boto3==1.24.59
botocore==1.27.59
click==8.1.7
cloudpathlib==0.10.0
datasets==2.14.5
deepspeed==0.7.2
depthcharge-ms==0.1.0
fastprogress==1.0.3
jiwer==2.5.1
matplotlib==3.6.0
numpy==1.23.3
omegaconf==2.2.3
pandas==1.5.0
polars==0.17.8
protobuf==3.19.6
pyarrow==11.0.0
python-dotenv==0.21.0
pytorch_lightning==1.8.6
scikit-learn==1.1.2
seaborn==0.12.0
spectrum_utils==0.4.1
tensorboard==2.10.1
tensorboardX==2.5.1
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tqdm==4.64.1
transfusion-asr==0.1.0
