
aiobotocore==2.4.1
boto3==1.24.59
botocore==1.27.59
click==8.1.7
cloudpathlib==0.10.0
datasets==2.14.5
depthcharge-ms==0.1.0
fastprogress==1.0.3
jiwer==3.0.3
matchms==0.22.0
matplotlib==3.7.2
numba==0.57.1
numpy==1.23.3
omegaconf==2.2.3
pandas==2.0.3
polars==0.19.7
protobuf==3.19.6
pyarrow==15.0.0
pyopenms==2.7.0; python_version < '3.10'
pyopenms==3.1.0; python_version >= '3.10'
python-dotenv==0.21.0
pytorch_lightning==1.8.6
scikit-learn==1.1.2; python_version < '3.11'
scikit-learn==1.4.1.post1; python_version >= '3.11'
seaborn==0.13.2
spectrum_utils==0.4.1
tensorboard==2.10.1
tensorboardX==2.5.1
torch==2.2.1
tqdm==4.65.0
transfusion-asr==0.1.0
