# TODO: Remove?

# Data paths and output location
data_path: /mnt/instanovo-data-kyber/ac_pt_shards/valid_shard_*.ipc # type: .mgf, .mzml or any other filetype supported by SpectrumDataFrame
instanovo_plus_model: instanovoplus-v1.1.0 # type: model id or path to a *.ckpt file
output_path: instanovoplus_predictions.csv # type: .csv
knapsack_path: # type: directory

# Data type only used if data_path is a directory.
data_type: # .csv, .mgf, .mzml, .mzxml

# Inference mode
denovo: True
max_length: 40
max_charge: 10 # Must be <= model max charge
isotope_error_range: [0, 1]
subset: 1 # Subset of dataset to perform inference on, useful for debugging. Represented as a float between 0 and 1.

# Refine mode
refine: True
refinement_path: # type: .csv
prediction_refine_col: predictions_tokenised
prediction_confidence_col: log_probs
refinement_id_col: "spectrum_id"
dataset_id_col: "spectrum_id"
refine_all: False # If True, all predictions will be refined
refine_threshold: 0.9 # Only predictions with a confidence score less than this will be refined

# Prediction columns
prediction_tokenised_col: "predictions_tokenised"
prediction_col: "predictions"
log_probs_col: "log_probs"
token_log_probs_col: "token_log_probs"

# Run config
num_workers: 16
batch_size: 128
device: auto
fp16: True
force_cpu: False
mps: False
force_fp32: False

# Logging
log_interval: 50
use_basic_logging: True

# Metrics config, does not affect saved results
filter_precursor_ppm: 20
filter_confidence: 1e-4
filter_fdr_threshold: 0.05

# Dataset specific configs
residue_remapping:
  "M(ox)": "M(+15.99)"
  "S(p)": "S(+79.97)"
  "T(p)": "T(+79.97)"
  "Y(p)": "Y(+79.97)"
  "Q(+0.98)": "Q(+.98)"
  "N(+0.98)": "N(+.98)"

column_map:
  "Modified sequence": "modified_sequence"
  "MS/MS m/z": "precursor_mz"
  # "m/z": "precursor_mz"
  "Mass": "precursor_mass"
  "Charge": "precursor_charge"
  "Mass values": "mz_array"
  "Mass spectrum": "mz_array"
  "Intensity": "intensity_array"
  "Raw intensity spectrum": "intensity_array"

# A list of columns that (if found) will be retained in output csv
index_columns:
  - "id"
  - "experiment_name"
  - "evidence_index"
  - "scan_number"
  - "spectrum_id"
  - "global_index"
  - "spectrum_index"
  - "file_index"
  - "sample"
  - "file"
  - "index"
  - "fileno"
  - "precursor_mz"
  - "precursor_charge"
