-c requirements.txt
-c requirements-dev.txt
instanovo
mkdocs
mkdocs-gen-files
mkdocs-git-revision-date-plugin
mkdocs-include-markdown-plugin
mkdocs-material
mkdocs-pymdownx-material-extras
mkdocstrings
mkdocstrings-python
pymdown-extensions
