click
datasets
dvc
dvc-gs
ipykernel
jaxtyping
jiwer
matchms
neptune
numpy
omegaconf
pandas
polars
pyopenms
pyopenms-viz
python-dotenv
pytorch_lightning
s3fs
scikit-learn
spectrum_utils
tensorboard
torch<2.5
tqdm
transfusion-asr
python-dotenv
