defaults:
  - _self_
  - model: instanovo_base
  - dataset: acpt
  - residues: default

# Overwritten when using Aichor
tb_summarywriter: "./logs/instanovo/instanovo-base"

# Training parameters
seed: 101
warmup_iters: 100_000
max_iters: 3_000_000
learning_rate: 5e-5 #5e-4 5e-5
weight_decay: 1e-5
train_batch_size: 256 #32
grad_accumulation: 1
n_gpu: 1
gradient_clip_val: 10.0
predict_batch_size: 64
n_beams: 5
fp16: True
compile_model: True

# Logging parameters
logger:
epochs: 30
num_sanity_val_steps: 10
console_logging_steps: 2000
tensorboard_logging_steps: 500
report_to: neptune
run_name: instanovo_acpt_base

# Training data parameters
train_subset: 1.0
valid_subset: 0.01
val_check_interval: 1.0 # 1.0 This doesn't work
lazy_loading: True # Use lazy loading mode
max_shard_size: 1_000_000 # Max data shard size for lazy loading, may influence shuffling mechanics
preshuffle_shards: True # Perform a preshuffle across shards to ensure shards are homogeneous in lazy mode
perform_data_checks: True # Check residues, check precursor masses, etc.
validate_precursor_mass: False # Slow for large datasets
verbose_loading: True # Verbose SDF logs when loading the dataset

# Checkpointing parameters
save_model: True
model_save_folder_path: "checkpoints/instanovo-base"
save_weights_only: False
ckpt_interval: 100_000
train_from_scratch: True
resume_checkpoint:

blacklist:
